@model IEnumerable<Product>
        
<div>
        @if (Model != null)
        {
            @foreach (var p in Model)
            {
                <div style="width:190px; text-align:center">
                    <a href='@Url.Action("Details", "Product", new {id = p.Id})'>
                        <img src="@p.ImageURL" alt="Product Image" />
                        @p.Name
                    </a>

                </div>
            }
        }
</div>
